* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

::-webkit-scrollbar {
  width: 9px;
  border-radius: 0.6rem;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(156, 179, 166);
  border-radius: 0.6rem;
}

/* CONTAINER STYLING Start */
.buttons {
  scroll-snap-align: start;
  background: gainsboro;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.buttons_neon {
  background: #333;
}
/* CONTAINER STYLING End */

/* Main Button Class Styling Start */
.btn {
  --btn_bg_main: #662d91b6;
  --btn_bg_hover: #4b0082;
  --text_white: white;

  border: none;
  background-color: transparent;
  padding: 1.1rem 2.2rem;
  margin: 1rem;
  outline: none;

  color: var(--text_white);
  background: var(--btn_bg_main);
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-weight: 400;
  font-size: 1.7rem;
  text-transform: uppercase;
  cursor: pointer;

  border-radius: 0.5rem;
  position: relative;
}
/* Main Button Class Styling End */

/* Giving Same Required Styles in one Block Istead of repeating Start*/
.btn_border::before,
.btn_slide::before,
.btn_circle::before,
.btn_underline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
  border-radius: 0.5rem;
}
/* Giving Same Required Styles in one Block Istead of repeating End*/

.btn_border::before {
  border: 0.3rem solid var(--btn_bg_hover);
  transition: all 0.3s linear;
  --border_position: -8px;
}

.btn_border:hover::before {
  top: var(--border_position);
  bottom: var(--border_position);
  right: var(--border_position);
  left: var(--border_position);
  z-index: 1;
}

.btn_slide {
  z-index: 1;
}
.btn_slide::before {
  background-color: var(--btn_bg_hover);
  transform: scaleX(0);
  transition: transform 0.4s linear;
  transform-origin: left;
}

.btn_slide:hover::before {
  transform: scaleX(1);
}

.btn_circle {
  z-index: 1;
  overflow: hidden;
}

.btn_circle::before {
  background-color: var(--btn_bg_hover);
  border-radius: 50%;
  transform: scale(1.5);
  transition: transform 0.4s linear;
}

.btn_circle:hover::before {
  transform: scale(0);
}

.btn_underline {
  overflow: hidden;
}
.btn_underline::before {
  top: auto;
  z-index: 1;
  height: 5px;
  background-color: var(--btn_bg_hover);
  transform: scaleX(0);
  transition: transform 0.4s linear;
}

.btn_underline:hover::before {
  transform: scaleX(1);
}

/* SIMPLE NEON BUTTON STYLING START */
.btn_neon {
  background-color: #e0c3fcdc;
  transition: box-shadow 1s linear, filter 1s linear;
  filter: brightness(75%);
}

.btn_neon:hover {
  filter: brightness(110%);
  box-shadow: 0 0 30px #e0c3fc, 0 0 60px #e0c3fc, 0 0 140px #e0c3fc,
    0 0 200px #e0c3fc, 0 0 250px 5px #e0c3fc;
}
/* SIMPLE NEON BUTTON STYLING END */

/* MOVING NEON BUTTON STYLING START */
.btn_neon_moving {
  overflow: hidden;
  background-color: #80d0c7;
  filter: brightness(80%);
  transition: filter 0.7s ease-in-out;
}
.btn_neon_moving:hover {
  filter: brightness(99%);
  animation: neon_shadow 0.9s ease-in-out 2.8s forwards;
}
.btn_neon_moving span {
  display: inline-block;
  position: absolute;
  background-color: #0093e9;
}

.btn_neon_moving .side_1,
.btn_neon_moving .side_3 {
  left: 0;
  height: 5px;
  width: 100%;
}
.btn_neon_moving .side_2,
.btn_neon_moving .side_4 {
  width: 5px;
  height: 100%;
  top: 0;
}

.btn_neon_moving:hover .side_1 {
  animation: neon_move-x 0.7s ease-in;
}
.btn_neon_moving:hover .side_2 {
  animation: neon_move-y 0.7s ease-out 700ms;
}
.btn_neon_moving:hover .side_3 {
  animation: neon_move-x 0.7s ease-in 1.4s;
}
.btn_neon_moving:hover .side_4 {
  animation: neon_move-y 0.7s ease-out 2.1s;
}
.btn_neon_moving .side_1 {
  transform-origin: left;
  transform: scaleX(0);
  top: 0;
}
.btn_neon_moving .side_2 {
  transform-origin: top;
  transform: scaleY(0);
  right: 0;
}
.btn_neon_moving .side_3 {
  transform-origin: right;
  transform: scaleX(0);
  bottom: 0;
}
.btn_neon_moving .side_4 {
  transform-origin: bottom;
  transform: scaleY(0);
  left: 0;
}

@keyframes neon_move-x {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
@keyframes neon_move-y {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
@keyframes neon_shadow {
  from {
    filter: brightness(99%) blur(0px);
    box-shadow: none;
    transform: scale(1);
  }
  to {
    box-shadow: 0 0 50px #80d0c7, 0 0 100px #80d0c7, 0 0 150px #80d0c7,
      0 0 200px #80d0c7, 0 0 240px 5px #80d0c7;
    filter: brightness(110%) blur(0.1px);
    transform: scale(1.04);
  }
}
/* MOVING NEON BUTTON STYLING END */
